.baner{
    background-color: rgb(255, 230, 0);
    height: 100px;
    color: blueviolet;
    padding: 20px;
    text-align: center;
}
.lewy{
    background-color: hsl(131, 61%, 49%);
    height: 500px;
    width: 50%;
    float:left;

}


.prawy{
    background-color: hsl(0, 0%, 24%);
    height: 500px;
    width: 50%;
    float:left;

}
.stopka{
    background-color: rgb(12, 12, 12);
    height: 200px;
    text-align: center  ;
    clear: both;


}
.stopka{
    color: goldenrod;
}